/* Write your CSS here! */

body {
    margin: 8px;
    display: block;
    margin: 0;
    padding: 0;
    display: block;
    background: url('forest.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    line-height: 1.6;
}

#mainHeader {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #57a9db;
    border-radius: 8px;
    color:black;
    text-align: center;
}

#mainHeading {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin:0;
}

h1 {
    max-width: 1000px;
    margin: 1px auto;
    padding: 1px;
    background: #57a9db;
    color: black;
    text-align: center;
}

#title-blurb {
    margin: 0;
    color: black;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #57a9db;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin: 0;
}

p {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
    margin: 0;
    margin-bottom: 10px;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

footer {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.container {
  position: relative;
  width: 100%;

}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 96%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 50px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.img-comp-container {
    position: relative;
    height: 600px;
  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .img-comp-img img {
    display: block;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: #fa0096;
    opacity: 0.7;
    border-radius: 50%;
  }

.funParagraph {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

h3 {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #57a9db;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #57a9db;
}

p3 {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: #57a9db;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
}
